body {
    background-color: #a3d5d3;
  }
  p{
    font-family:"Tahoma";
    text-align:justify;
    line-height:1.9;
    color:#660000
  }
  
  a:hover{
    color:red
  }
  h2{font-size:2em;
    color:#ce4a16
  }
  
  table {
    width:800px;
    border-collapse: collapse;
    border-style:solid;
    border-color:#f45f24;
    background-color: #ce4a16;
    color:white;
  
  }
  th {border-style:solid;
  border-color:#f45f24;
  padding:4px
  
  }
  
  div{
  width:800px;
  }
  div.odd{
    background-color:#becbdf;
  padding:5px;
  }
  
  .highlight{
    color:white;
    background-color:red;
    font-style:italic;
  }
  
  .photo-right 
  {
  width:300px;
  float:right;
  margin:5px;
  }
  .photo-left 
  {
  width:300px;
  float:left;
  margin:5px;
  }
  
  
  #top-menu {
   position:fixed;
   top:1px; 
  }
  #footer{
   position:fixed;
   bottom:1px; 
  }
  
  #attraction-map {
  width:180px;
  float:left;
  margin:5px
  }
  
  
  