body {
    background-color: wheat;
    margin: 0;
  }
  header{
    top:0;
    margin:0;
    padding: 0;
    background-color: #ce4a16;
  }
  nav{
    margin:0;
    padding: 0;
    background-color: lightsalmon ;
  }
  nav ul{
    list-style-type: none;
    margin:0;
    padding:0;
  }
  nav li {
    display:inline;
    margin: 0;
  }
  nav a{
   color: #660000;
    padding-left:8px;
    padding-right: 8px;
  } 
  nav a:hover{
    color:white;
    font-weight: bold;
    background-color: #ce4a16;
  }
  p{
    font-family:"Tahoma";
    text-align:justify;
    line-height:1.9;
    color:#660000
  }
  a{
    text-decoration: none;
  }
  a:hover{
    color:red
  }
  h1{
    color:white;
  }
  h2{font-size:2em;
    color: orangered
  }
  div{
  width:800px;
  }
  div.odd{
    background-color: tan;
    padding:5px;
  }
  div.odd h2{font-size:2em;
    color: darkcyan
  }

  .highlight{
    color:white;
    background-color:red;
    font-style:italic;
  }
  .photo-right 
  {
  width:300px;
  float:right;
  margin:5px;
  }
  .photo-left 
  {
  width:300px;
  float:left;
  margin:5px;
  }
  #footer{
    background-color: #ce4a16;
    color:white;
    font-weight: bold;
  }
  #attraction-map {
  width:180px;
  float:left;
  margin:5px
  }
  
  
  